*{
    box-sizing: border-box;
}
.landigepageBG{
    background: url(../assets/image/LandingPageBg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}