*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
.container{
  /* border: 1px solid slateblue;  */
}
 /* .loginbck{ */
  /* background: url(../src/component/assets/image/Loginbck.jpg) no-repeat center center / cover ; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* object-fit:fill ; */
 
.Background{
  background: url(../src/component/assets/image/Loginbck.jpg) /*no-repeat center center / cover */ ;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
/* .navbar-bg{ */
  /* background: linear-gradient(#6291ad, #879eab); */
/* } */
.navbar-bg {
  background: linear-gradient(#ffffff1f, #ffffff0a);
  box-shadow: 0px 12px 44px 0 #00000040;
}
.logo img{
 width: 21%;
}
.drop{
}
.drop h5{
  color: #ffffff;
  text-align: right; 
}
.blur{
  backdrop-filter: blur(80px);
}
.col-md-5{
  padding: 8px !important ;
}
.login-container h2{
  color: #ffffff;
}
.form-input{
    width: 100%;
}
.form-input input{
  background: transparent;
  border:#a19a9a 1px solid;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 13px;
  width: 100%;
}
.forgett-psw{  
  text-align: right !important;
}
.forgett-psw a {
  color: #ffffff; 
  text-decoration: none;
}
.login-btn{
  padding: 15px;
  border:#a19a9a 1px solid;
  width: 100%;  
}
.login-btn a{
  text-decoration: none;
  color: #ffffff; 
}
.register a{
  padding: 7px;
  text-decoration: none;
  background: transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  /* border:#a19a9a 1px solid; */
  color: #ffffff;
}





